.details-card {
  width: 460px;

  margin: 50px auto;

  padding: 35px;

  border-radius: 28px;

  background: linear-gradient(135deg, #ffffff, #fdf2f8, #eef2ff);

  box-shadow: 0px 12px 30px rgba(139, 92, 246, 0.18);
}

.heading {
  text-align: center;

  font-size: 40px;

  color: #7c3aed;

  margin-bottom: 30px;

  font-weight: bold;
}

.input-container {
  display: flex;

  flex-direction: column;

  margin-bottom: 22px;
}

.label {
  font-size: 17px;

  color: #4c1d95;

  margin-bottom: 8px;

  font-weight: 600;
}

.input {
  height: 50px;
  color: black;

  border: 2px solid #ddd6fe;

  border-radius: 14px;

  padding-left: 15px;

  font-size: 16px;

  outline: none;

  background-color: #ffffff;

  transition: 0.3s;
}

.input:focus {
  border-color: #8b5cf6;

  box-shadow: 0px 0px 10px rgba(139, 92, 246, 0.3);
}

.error {
  color: #dc2626;

  font-size: 14px;

  margin-top: 6px;
}

.next-button {
  width: 100%;

  height: 52px;

  border: none;

  border-radius: 14px;

  background: linear-gradient(to right, #8b5cf6, #ec4899);

  color: rgb(11, 11, 11);

  font-size: 18px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;

  margin-top: 12px;
}

.next-button:hover {
  transform: translateY(-2px);

  opacity: 0.95;
}
